<h2 class=" accordion-title text-center my-4">Issues</h2>
<!-- Button trigger modal -->

<!--<div class="row justify-content-center">-->
<!--  <button type="button" class="btn btn-outline-success new-issue-btn" data-bs-toggle="modal" data-bs-target="#newIssueModal">-->
<!--    New Issue-->
<!--  </button>-->
<!--</div>-->

<app-new-issue-modal [appName]="currentPage"
                     (dismissalReason)="receiveNewIssueModalDismissalReason($event)">
</app-new-issue-modal>

<app-issue-creation-status-alert [reason]="newIssueDismissalReason"></app-issue-creation-status-alert>

<div class="row">
  <!--Accordion-->
  <div ngbAccordion *ngIf="!componentIsLoading()" class="issue-accordion mx-auto mt-5">
    <div ngbAccordionItem *ngFor="let issue of issues; let i = index" class="bg-dark text-bg-dark" [collapsed]="i != 0">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton> {{issue.title}}</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody [innerHTML]=sanitizedMarkdown[i]></div>
        <div class="container accordion-footer">
          <div class="row">
            <div class="hr mx-auto"></div>
          </div>
          <div class="row d-flex ">
            <button type="button" class="btn btn-outline-danger close-issue-btn">
              Mark as Resolved
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center" *ngIf="componentIsLoading()">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
